/* Varsayılan Navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFB100;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FFB100;
}

/* Hamburger Menü */
.menu-toggle2 {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
}

.menu-toggle2 span {
    display: block;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.3s ease;
}

/* Mobil için Hamburger Menü ve Nav Links */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle2 {
        display: flex;
    }

    .menu-toggle2.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle2.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle2.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
